extend layout.pug

block head
  link(rel='stylesheet' href='/talks.css')

  link(rel='stylesheet' href='/vendor/prismjs/prism.css')

block main
  .talk.essay
    header
      h1 #{title}
      p #{formattedDate}, at #{event}

    nav
      ul
        if presentation
          if presentation.type == "external"
            li
              a(href=presentation.link) Browse the presentation
          else
            li
              a(href="/talks/" + slug + "/presentation.html") Browse the presentation
        if video
          if video.type == "external"
            li
              a(href=video.link) Watch the video
          else
            li
              a(href="/talks/" + slug + "/video.html") Watch the video

    | !{contents}

  footer
    p This work is published under the #[a(href="http://creativecommons.org/licenses/by-sa/4.0/") Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) License].
