extend layout.pug

block main
  section.narrow.about-me
    header
      h2 About me

    p Hi there. My name is Samir Talwar.

    p I'm the Chief Technology Officer of #[a(href='http://prodo.ai') prodo.ai]. We make machines write code for humans.

    p We use machine learning, data science and human guidance to read, contribute and correct your code, helping you deliver production-quality software faster.

    hr

    p On the side, I'm an automation engineer and software crafter, living in London and focusing on functional programming, cloud computing, and systems resilient to failure.

    p I also teach others how to do what I do.

  section.narrow.upcoming-events
    +upcomingEvents('workshops', upcomingWorkshops)

    +upcomingEvents('talks', upcomingTalks)

    +previousEvents('talks', previousTalks)

mixin upcomingEvents(title, events)
  header
    h2 Upcoming #{title}

    if events.length === 0
      p No upcoming #{title}.

    else
      each event in events
        +event(title, event)

mixin previousEvents(title, events)
  if events.length > 0
    header
      h2 Previous #{title}

      each event in events
        +event(title, event)

mixin event(prefix, event)
  article.event
    h3
      if event.link
        a(href=event.link) #{event.title}
      else if event.slug
        a(href=`/${prefix}/${event.slug}`) #{event.title}
      else
        | #{event.title}

    p
      if event.partner
        | with #[a(href=event.partner.link) #{event.partner.name}]

    p
      if event.event && event.location
        | #{event.event} @ #{event.location}
      else if event.event
        | #{event.event}
      else if event.location
        | #{event.location}

    p #{event.formattedDate}

    if event.slug || event.presentation || event.video
      ul.links
        if event.slug
          li
            a(href=`/${prefix}/${event.slug}/essay`) Read as an essay
        if event.presentation
          if event.presentation.type === 'reveal.js'
            li
              a(href=`/${prefix}/${event.slug}/presentation`) Browse the presentation
          else
            li
              a(href=event.presentation.link) Browse the presentation
        if event.video
          if event.video.type === 'youtube'
            li
              a(href=`/${prefix}/${event.slug}/video`) Watch the video
          else
            li
              a(href=event.video.link) Watch the video
